*.class

# Package Files #
*.jar
*.war
*.ear

# Bluej, Greenfoot specific
*.ctxt

# Backupfiles
*~
/benzaitenRevolution/nbproject/private/
/benzaiten_Revolution/nbproject/private/
/benzaiten_Revolution/build/
/MP3Player-NetbeansGrundlage/build/
/MP3Player-NetbeansGrundlage/dist/
/MP3Player-NetbeansGrundlage/nbproject/private/
/benzaiten/nbproject/private/