*.class

# Package Files #
*.jar
*.war
*.ear

# Bluej, Greenfoot specific
*.ctxt

# Backupfiles
*~
~
# Private stuff not needed
benzaiten/nbproject/private/

# all the build-stuff
benzaiten/build/

# Only for distribution
benzaiten/dist/
